body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(202, 202, 202);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

.small {
  font-weight: 100;
  /* font-style: italic; */
}
