.text-light {
    background-color: rgb(38, 0, 128);
    
  }

#prompt {
    font-size: 33px;
}
  

#begin {
    text-align: center;
    font-size: 25px;
}

#shows {
    margin-top: 50px;
    margin-bottom: 50px;
}

.shows {
    border-radius: 10px;
}